<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <span class="badge badge-secondary href="#">Новости друзей</span>
        {% if "username" in session %}
          <div>
            <a class="badge badge-pill badge-success" href="/users_list">Список пользователей</a>
            <a class="badge badge-pill badge-success" href="/friends_list">Мои друзья</a>
            <a class="badge badge-pill badge-success" href="/index">Главная (новости)</a>
            <a class="badge badge-pill badge-danger" href="/logout">Выйти из аккаунта ({{session['username']}})</a> 
          </div>
        {% endif %}
      </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>