{% extends "base.html" %}
 
{% block content %}
	<div class="alert alert-info font-weight-bold" role="alert" style="text-align: center;">
		Добро пожаловать в &ldquo;Новости Друзей&rdquo;!
	</div>
	{%if news%}
	    {%for new in news%}
	    	{%if new[0] == "admin"%}
	    		<blockquote class="blockquote bg-warning text-dark">
	    	{%else%}
	    		<blockquote class="blockquote bg-light text-dark">
	    	{%endif%}
	    		<p class="mb-0"><h1 class="text-center">{{new[1]}}</h1>{{new[2]}}</p>
	    		<footer class="blockquote-footer text-right">{{new[0]}}</footer>
	    	</blockquote>
	    	<hr>
    	{%endfor%}
    {%else%}
    	<h2><span class="badge badge-pill badge-info">Нет новостей, которые вы можете увидеть!</span></h2>
    {%endif%}
{% endblock %}